.bg {
  min-height: 100%;
}

.title {
  color: #ff9f14;
  font-size: 2rem;
  font-weight: 600;
  background-color: #22225e;
  padding: 1rem;
  border-radius: 20px;
  margin-bottom: 1rem;
}

.image {
  max-width: 90%;
  height: 350px;
  margin: 0.5rem 0;
  background-color: #ff0000;
}
